@import "../../styles/variables.scss";

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
  background: url("../images/rippledwater4.jpg") no-repeat center 2rem fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .about-me-container {
    display: flex;
    flex-direction: column;
    position: relative;
    inset: 0rem 0rem;
    z-index: 0;

    .about-header {
      width: fit-content;
      align-self: flex-start;
      z-index: 1;
    }

    .about-paragraph {
      margin: 1rem 13rem 0rem 2rem;
      width: fit-content;
      align-self: flex-end;
      z-index: 1;
    }

    h1 {
      color: rgb(0, 0, 0);
    }
    p {
      color: rgb(33, 33, 33);
      margin: 0rem;
    }
  }

  .image-container {
    align-self: center;
    width: 80%;
    img {
      max-width: 100%;
      margin: 0;
      padding: 0;
      border-radius: 50%;
    }
  }
}

//######################################## Large ########################################
@media (max-width: 991.98px) {
  .about-section {
    background: url("../images/rippledwater4.jpg") no-repeat -12rem 2rem fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .about-me-container {
      inset: 0rem 0rem;
      .about-paragraph {
        margin: 0rem 7rem 0rem 3rem;
      }

      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 1rem;
        margin: 0rem;
      }
    }
  }
}

//######################################## Medium ########################################
@media (max-width: 768px) {
  .about-section {
    background: url("../images/rippledwater4.jpg") no-repeat -22rem 2rem fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .about-me-container {
      display: flex;
      flex-direction: column;
      position: relative;
      inset: 0rem 0rem;
      z-index: 0;

      .about-paragraph {
        margin: 0rem 5rem 0rem 3rem;
      }

      h1 {
        font-size: 3rem;
      }
      p {
        margin: 0rem;
      }
    }
  }
}

//######################################## Small ########################################
@media (max-width: 576px) {
  .about-section {
    background-image: none;
    .about-me-container {
      display: flex;
      flex-direction: column;
      position: relative;
      inset: 0rem 0rem;
      z-index: 0;

      .about-paragraph {
        margin: 1rem 2rem;
        width: fit-content;
        align-self: flex-end;
        z-index: 1;
      }

      h1 {
        font-size: 2.5rem;
      }
      p {
        color: rgb(33, 33, 33);
      }
    }
  }
}
