@import "../../styles/variables.scss";

.about-section {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  background: url("../images/rippledwater1.jpg") no-repeat center fixed;
  background-size: cover;
  height: 85vh;

  .about-me-container {
    display: flex;
    flex-direction: column;
    // background-color: rgba(255, 255, 255, 0);

    .about-header {
      width: fit-content;
      background-color: rgba(0, 0, 0, 0.453);
      align-self: flex-start;
    }

    .about-paragraph {
      margin-top: 3rem;
      margin-left: 5rem;
      width: fit-content;
      align-self: flex-end;
      background-color: rgba(0, 0, 0, 0.453);
    }

    h1 {
      color: white;
    }

    p {
      color: white;
    }
  }

  .image-container {
    align-self: center;
    width: 80%;
    img {
      max-width: 100%;
      margin: 0;
      padding: 0;
      border-radius: 50%;
    }
  }

  @media (max-width: 768px) {
    .about-me-container {
      align-self: center;
      justify-content: center;

      .about-header {
        align-self: center;
      }
      .about-paragraph {
        align-self: center;
        margin-left: 0rem;
      }
    }

    .image-container {
      padding: 2rem;
    }
  }
}
