@import "../../styles/variables.scss";

.about-section {
  display: grid;
  // grid-template-columns: 60% 40%;
  min-height: 100vh;
  // background-image: url("../images/bg.png") !important;

  .about-me-container {
    display: grid;
    width: 80%;
    height: fit-content;
    align-content: center;
    justify-self: center;
    align-self: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0);
    h2 {
      margin: 0;
    }
    p {
      font-family: "Roboto Mono", monospace;
      width: 100%;
      margin: 0;
      padding: 1rem 0rem 0rem 2rem;
    }
  }

  .image-container {
    // border: solid 2px black;
    justify-self: center;
    align-self: center;
    width: 80%;
    img {
      max-width: 100%;
      margin: 0;
      padding: 0;
      border-radius: 50%;
    }
  }

  @include media("<desktop") {
    grid-template-columns: 100%;
    grid-template-rows: 3fr 5fr;
    justify-items: center;
    align-content: center;

    .image-container {
      width: 55%;
      margin-top: 5rem;
      grid-row: 1/2;
      margin: 0;
      padding: 6rem 0rem 2em 0rem;

      img {
        max-width: 100%;
      }
    }

    .about-me-container {
      display: grid;
      grid-row: 2/2;
      width: 85%;
      margin: 0;
      align-content: center;

      p {
        width: 100%;
        margin: 0;
        padding: 1rem 0rem 0rem 0rem;
      }
    }
  }
}
