a {
  padding: 0.6rem 2rem 0.6rem 2rem;
  font-family: "Open Sans";
  opacity: 1;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  @include media(">=phone", "<tablet") {
    padding: 0.6rem 1rem 0.6rem 1rem;
  }
}

Link {
  font-size: large;
}
