@import "../../../styles/variables.scss";

#webapps {
  overflow: hidden;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;

  #icon {
    max-height: auto;
    width: 7rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #icon:hover {
    transform: scale(1.05);
  }
  #googleIcon {
    max-height: auto;
    width: 3rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #googleIcon:hover {
    transform: scale(1.05);
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 0em 2em 0em;

    .about-paragraph {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      font-size: $fs-p-mobile;

      p {
        margin: 0rem 1rem;
      }
    }

    div {
      margin: 1rem 0rem;
    }

    .divider-line {
      display: none;
    }

    hr {
      width: 70%;
    }
  }
}
