@import "../../../styles/variables.scss";

.section-nav-2 {
  position: fixed;
  top: 2.5rem;
  display: flex;
  flex-direction: row;
  background: $accent-primary;
  align-self: center;
  width: 100vw;
  height: 2.5rem;
  overflow: hidden;
  z-index: 3;
  justify-content: center;
  a {
    font-size: medium;
    color: black;
    margin: 0vh 2vw 0vh 2vw;
  }
  a:hover {
    text-decoration: none;
    transform: scale(1.03, 1.03);
    border: none;
    color: black;
    border-bottom: solid 1px black;
    cursor: pointer;
  }
  .active2 {
    border-bottom: solid 1px black;
    color: black;
  }

  @include media("<=tablet") {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
}

button {
  margin: 0vh 1vw 0vh 1vw;
  p {
    color: $bg-primary;
  }

  .active {
    color: $bg-primary;
    text-decoration: none;
  }
}
