@import "../../../styles/variables.scss";

.navbar-2 {
  width: 100%;
  position: fixed;
  top: 2.5rem;
  display: none;
  background: $accent-primary;
  color: $bg-primary;
  justify-content: space-around;
  align-items: center;

  .navbar-links {
    height: 100%;
  }

  .navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .navbar-links li {
    padding: 0rem 1rem 0rem 1rem;
    list-style: none;
  }

  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
  }

  .navbar-links li:hover {
    background-color: rgb(255, 81, 81);
  }

  @include media("<=tablet") {
    .navbar-links {
      display: none;
      width: 100%;
    }
  }
}
