@import "../../../styles/variables.scss";

.section-nav-2 {
  position: fixed;
  top: 7vh;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.641);
  align-self: center;
  width: 80vw;
  height: auto;
  margin: 0vh 10vw 0vh 10vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  overflow: hidden;
  z-index: 3;
  justify-content: center;
  // border-top: solid 1px $nicelinecolor;
  clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);

  @include media("<=tablet") {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0vh 0vw 0vh 0vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  a {
    font-size: medium;
    color: black;
    margin: 0vh 2vw 0vh 2vw;

    @include media("<=tablet") {
      margin: 0vh 2vw 1vh 2vw;
    }
  }
  a:hover {
    text-decoration: none;
    transform: scale(1.03, 1.03);
    border: none;
    color: black;
    border-bottom: solid 1px black;
    cursor: pointer;
  }
  .active2 {
    border-bottom: solid 1px black;
    color: black;
  }
}

button {
  margin: 0vh 1vw 0vh 1vw;
  @include media("<=tablet") {
    margin: 0.2vh 0vw 0.2vh 0vw;
    width: 90vw;
  }
}
