.about-section {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media(">=phone", "<tablet") {
    flex-direction: column-reverse;
  }

  .content {
    max-width: 45vw;
    margin-bottom: 2rem;

    @include media(">=phone", "<tablet") {
      width: 100%;
    }

    h2 {
      margin-top: 1rem;
      @include media(">=phone", "<tablet") {
        margin-top: 2rem;
      }
    }
    p {
      margin-right: 1.5rem;
      @include media(">=phone", "<tablet") {
        text-align: justify;
        font-size: 1rem;
        font-weight: 500;
      }
    }
    @include media(">=phone", "<tablet") {
      max-width: 70vw;
      //align-self: flex-start;
    }
  }
  .image-wrapper {
    max-width: 33vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(">=phone", "<tablet") {
      max-width: 70vw;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 1rem;
    }
  }
}
