.footer-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 3rem;
    line-height: 1rem;
    margin-bottom: 2rem;
    @include media(">=phone", "<tablet") {
      font-size: 2rem;
      line-height: 1rem;
    }
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
    @include media(">=phone", "<tablet") {
      font-size: 1rem;
    }
  }

  .email-link {
    margin-top: 0;
    font-size: 1.5rem;
    color: black;
    @include media(">=phone", "<tablet") {
      font-size: 1.3rem;
    }
  }
  .social-icons {
    margin-top: 20px;
    img {
      height: 2rem;
      margin: 10px;
    }
  }
  span {
    margin-top: 10px;
  }
  icon {
    color: red;
  }
}
