.about-section {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media(">=phone", "<lgphone") {
    flex-direction: column-reverse;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column-reverse;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content {
    width: 50%;
    margin-right: 2rem;

    @include media(">=phone", "<tablet") {
      margin-top: 5vh;
      margin-right: 0;
      width: 100%;
    }

    h2 {
      font-size: 3rem;
      line-height: 1rem;
      margin: 3rem 0rem 3rem 0rem;
      @include media(">=phone", "<tablet") {
        font-size: 2rem;
        line-height: 1rem;
      }
    }
    p {
      font-size: 1.2rem;
      @include media(">=phone", "<tablet") {
        text-align: justify;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
  .image-wrapper {
    max-width: 43vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(">=phone", "<tablet") {
      max-width: 70vw;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 1rem;
    }
  }
}
