@charset "utf-8";
@import "./include-media.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

// Components
@import "../pages/about/about.scss";
@import "./portfolio.scss";
@import "./skills.scss";
@import "./promotion.scss";
@import "../pages/contact/contact.scss";
@import "./footer.scss";
@import "./../components/Header/Header.scss";
@import "../components/Work-Projects/work-projects.scss";
@import "../components/Web-Apps/web-apps.scss";
@import "../components/Random-Spanish/random-spanish.scss";
@import "../components/Industrial-Automation/industrial-automation.scss";
@import "../components/Mobile/mobile.scss";
@import "./skewed.scss";
@import "../components/Layout/navbar2/navbar2.scss";
@import "../components//Layout/navbar/navbar.scss";
@import "./variables.scss";

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #ececec;
  background-image: $stripedbackground;
}

main {
  margin: 0vh 0vw 0vh 0vw;
  z-index: -1;
}

.section-main {
  overflow: hidden;
  background: white;
  width: auto;
  height: auto;
  margin-top: 15vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  border-radius: 0rem 0rem 0rem 0rem;
  border: solid 1px rgb(230, 230, 230);
  box-shadow: 0px 1px 2px rgb(223, 223, 223);
  z-index: -1;
}

.fade-in-image {
  animation: fadeIn 500ms;
  -webkit-animation: fadeIn 500ms;
  -moz-animation: fadeIn 500ms;
  -o-animation: fadeIn 500ms;
  -ms-animation: fadeIn 500ms;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.container-center {
  display: grid;
  justify-content: center;
  margin-top: 5vh;
}
