@charset "utf-8";
@import "./include-media.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

// Components
@import "../pages/about/about.scss";
@import "./mywork.scss";
@import "./skills.scss";
@import "./promotion.scss";
@import "../pages/contact/contact.scss";
@import "./footer.scss";
@import "../components/Work-Projects/work-projects.scss";
@import "../components/Web-Apps/web-apps.scss";
@import "../components/Random-Spanish/random-spanish.scss";

* {
  font-family: "Montserrat";
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// .section-main {

// }

.section-nav {
  display: grid;
  width: auto;
  height: auto;
  margin-top: 2.5vh;
  justify-content: center;

  a {
    font-size: medium;
    color: black;
    padding-right: 1vw;
    padding-left: 1vw;
  }
}

.section-nav-2 {
  display: grid;
  grid-row-start: 1;
  width: auto;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  overflow: hidden;
  top: 0;
  justify-content: center;
  z-index: 3;
  // border-bottom: 1px ridge black;
  margin: 2vh 15vw 0vh 15vw;
  box-sizing: padding-box;

  a {
    font-size: medium;
    color: black;
    padding-right: 1vw;
    padding-left: 1vw;
  }
}

.active {
  border-bottom: solid 1px black;
  color: black;
}

.container-center {
  width: auto;
  margin-top: 11vh;
  margin-left: 11vw;
  margin-right: 11vw;
}
