@charset "utf-8";
@import "./include-media.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@1&family=Nunito:ital,wght@1,600&family=Patrick+Hand&display=swap");

// Components
@import "../pages/about/about.scss";
@import "./portfolio.scss";
@import "./random-spanish.scss";
@import "./web-apps.scss";
@import "./mobile.scss";
@import "./industrial-automation.scss";
@import "./skills.scss";
@import "./promotion.scss";
@import "../pages/contact/contact.scss";
@import "../components/Layout/footer/footer.scss";
@import "../components/Web-Apps/web-apps.scss";
@import "../components/Random-Spanish/random-spanish-cards.scss";
@import "./skewed.scss";
@import "../components/Layout/navbar2/navbar2.scss";
@import "../components//Layout/navbar/navbar.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}

// .section-main {
//   overflow: hidden;
//   background: $bg-primary;
//   width: auto;
//   height: auto;
//   margin: 0;
//   padding: 0;
// }

section {
  display: grid;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $bg-primary;
  @include media("<=tablet") {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 0em 2em 0em;
  }
}
section:nth-of-type(even) {
  display: grid;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $bg-highlight;
  @include media("<=tablet") {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 0em 2em 0em;
  }
}

h1 {
  color: black;
  font-size: $fs-h1-desktop;
  margin: 1rem 0rem 1rem 5rem;
  @include media("<=tablet") {
    margin: 2rem 0rem 1rem 0rem;
    text-align: justify;
    font-size: $fs-h1-mobile;
  }
}

h2 {
  color: black;
  font-size: $fs-h2-desktop;
  margin: 1rem 0rem 1rem 5rem;
  @include media("<=tablet") {
    margin: 1rem 0rem 1rem 0rem;
    text-align: justify;
    font-size: $fs-h2-mobile;
  }
}

h3 {
  color: rgb(0, 0, 0);
  font-size: $fs-h3-desktop;
  font-weight: normal;
  // margin: 1rem 0rem 1rem 5rem;
  @include media("<=tablet") {
    // margin: 1rem 0rem 1rem 0rem;
    text-align: justify;
    font-size: $fs-h3-mobile;
  }
}

p {
  color: rgb(60, 60, 60);
  width: 55%;
  font-size: $fs-p-desktop;
  margin: 2rem 0 2rem 7rem;
  text-align: justify;
  @include media("<=tablet") {
    margin: 0rem 0rem 0rem 0rem;
    width: 75vw;
    text-align: justify;
    font-size: $fs-p-mobile;
  }
}

.fade-in-image {
  animation: fadeIn 500ms;
  -webkit-animation: fadeIn 500ms;
  -moz-animation: fadeIn 500ms;
  -o-animation: fadeIn 500ms;
  -ms-animation: fadeIn 500ms;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.container-center {
  display: grid;
  justify-content: center;
  margin-top: 5vh;
}
