@charset "utf-8";
@import "./include-media.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

// Components
@import "./portfolio.scss";
@import "../pages/about/about.scss";
@import "../pages/portfolio/random-spanish/random-spanish.scss";
@import "../pages/portfolio/web-apps/web-apps.scss";
@import "../components/Web-Apps/web-apps-cards.scss";
@import "../pages/portfolio/mobile/mobile.scss";
@import "../pages//portfolio/industrial-automation/industrial-automation.scss";
@import "../pages/contact/contact.scss";
@import "./skills.scss";
@import "./promotion.scss";
@import "../components/Layout/footer/footer.scss";
@import "../components/Random-Spanish/random-spanish-cards.scss";
@import "./skewed.scss";
@import "../components/Layout/navbar2/navbar2.scss";
@import "../components//Layout/navbar/navbar.scss";
@import "./variables.scss";
@import "../components//Cards/portfolio_cards_container.scss";
@import "../components/Card/portfolio_card.scss";
@import "../components/Icons/icons_display.scss";

p {
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-family: "Roboto Mono", monospace;
}

h3 {
  font-family: "Roboto Mono", monospace;
}

a {
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

main {
  margin: 0;
  padding: 0;
}

section:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

section {
  display: flex;
  width: 100%;
  padding: 5rem;
  background-color: $bg-primary;
  @media (max-width: 768px) {
    padding: 2rem;
  }
}

#portfolio {
  background-color: $bg-secondary;
}
#randomspanish {
  background-color: $bg-primary;
}
#mobile {
  background-color: $bg-secondary;
}
#webapps {
  background-color: $bg-primary;
}
#industrialautomation {
  background-color: $bg-secondary;
}
#webapps {
  background-color: $bg-primary;
}

h1 {
  color: black;
  font-size: $fs-h1-desktop;
  padding: 1rem;
  @media (max-width: 576px) {
    text-align: justify;
    font-size: 2.5rem;
  }
}

h2 {
  color: black;
  font-size: $fs-h2-desktop;
  padding: 1rem;
  @media (max-width: 576px) {
    text-align: justify;
    font-size: 1.4rem;
  }
}

h3 {
  color: rgb(0, 0, 0);
  font-size: $fs-h3-desktop;
  font-weight: normal;
  padding: 1rem;
  @media (max-width: 576px) {
    text-align: justify;
    font-size: 1.2rem;
  }
}

p {
  color: rgb(60, 60, 60);
  padding: 0rem 1rem 2rem 2rem;
  font-size: $fs-p-desktop;
  text-align: justify;
  @media (max-width: 576px) {
    font-size: 0.8rem;
  }
}

//####################################################################################
//####################################################################################
//####################################################################################

.fade-in-image {
  animation: fadeIn 500ms;
  -webkit-animation: fadeIn 500ms;
  -moz-animation: fadeIn 500ms;
  -o-animation: fadeIn 500ms;
  -ms-animation: fadeIn 500ms;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
