@charset "utf-8";
@import "./include-media.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

// Components
@import "./navbar.scss";
@import "./about.scss";
@import "./mywork.scss";
@import "./skills.scss";
@import "./promotion.scss";
@import "./contactinfo.scss";
@import "./footer.scss";
@import "./work-projects.scss";
@import "./web-apps.scss";
@import "./random-spanish.scss";

* {
  font-family: "Montserrat";
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.section-main {
  width: 100vw;
  height: auto;
  overflow: hidden;
}

#about {
  padding-top: 12vh;
  padding-bottom: 22vh;
}

#work {
  padding-top: 20vh;
  padding-bottom: 20vh;
  // background-color: #f0f2f5;
}

#contact {
  padding-top: 41vh;
  padding-bottom: 41vh;
}

.section-nav {
  display: flex;
  position: absolute;
  width: 100%;
  background-color: rgb(109, 109, 109);
  height: auto;
  overflow: hidden;
  top: 0;
  justify-content: center;
  z-index: 3;
}

.container-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
