button {
  text-decoration: none;
  padding: 1rem 1rem 1rem 1rem;
  font-family: "Open Sans";
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  font-size: 1.1rem;
  color: black;
  background-color: transparent;
  outline: none;
  border: 0px;

  h3 {
    color: white;
    font-style: none;
    text-decoration: none;
  }
  h3:hover {
    color: blue;
  }

  Link {
    opacity: 0.6;
    color: white;
    font-style: none;
    text-decoration: none;
  }
}
