.projects-grid {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  text-decoration: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0vh 0vw 0vh 0vw;

  @include media(">=phone", "<tablet") {
    grid-template-columns: 1fr;
  }

  @include media(">=tablet", "<desktop") {
    grid-template-columns: 1fr 1fr;
  }
}

.project-card {
  background-color: firebrick;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  max-width: 25vw;
  height: auto;

  @include media("<=tablet", "<desktop") {
    max-width: 70vw;
    height: auto;
  }

  .project-img {
    min-width: 25vw;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    // overflow: hidden !important;

    @include media("<=tablet", "<desktop") {
      max-width: 70vw;
      height: auto;
    }
  }

  .project-card:hover {
    transform: scale(1.2, 0.5);
  }

  p {
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    @include media(">=phone", "<tablet") {
      text-align: justify;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
.project-card:hover {
  text-decoration: none;
}

.portfolio-main {
  margin-top: 8rem;
  background: rgb(206, 206, 206);
  display: grid;

  h1 {
    color: black;
    font-size: 8rem;
    margin: 1rem 0rem 0rem 1rem;
    justify-self: start;
  }

  h2 {
    width: 50%;
    color: black;
    font-size: 5rem;
    margin: 1rem 0rem 0rem 1rem;
    justify-self: start;
  }

  p {
    width: 55%;
    margin: 3rem 3rem 0rem 7rem;
    font-size: 1.5rem;
    justify-self: start;
  }

  ul {
    width: 55%;
    margin: 1rem 3rem 0rem 7rem;
    font-size: 1.5rem;
    justify-self: start;
    list-style-type: none;
  }

  .callToAction {
    // transform: scale(1.4);
    font-size: 2rem;
    font-weight: bold;
  }

  .highlighted {
    transform: scale(1.1);
    font-weight: bold;
  }

  #icon {
    max-height: auto;
    width: 10rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #icon:hover {
    transform: scale(1.05);
  }

  #googleIcon {
    max-height: auto;
    width: 4rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #googleIcon:hover {
    transform: scale(1.05);
  }

  .btn {
    transition: all 0.2s ease-in-out;
  }
  .btn:hover {
    transform: scale(1.05);
  }
}

#portfolio {
}

#randomspanish {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr 3fr 3fr 3fr;
  background: rgb(206, 206, 206);
  background-repeat: no-repeat;

  img {
    margin: 3rem 3rem 3rem 7rem;
    justify-self: start;
    width: 70%;
    height: auto;
  }

  // .rs-testyourself {
  // }

  // .rs-translation {
  // }

  // .rs-savephrases {
  // }
}

#webapps {
  // h2 {
  //   justify-self: start;
  // }
}

// #mobile {
// }

// #industrialautomation {
// }
