section {
  margin-top: 0rem;
  margin-bottom: 10rem;
}

h2 {
  color: black;
  font-size: 5rem;
  margin-left: 5rem;
}

#mywork {
  height: auto;
  margin-top: 2rem;
  // background: rgb(206, 206, 206);
  background: white;
  display: grid;
  h1 {
    color: black;
    font-size: 7rem;
    margin: 5rem 0rem 1rem 5rem;
  }
  p {
    color: rgb(60, 60, 60);
    width: 65%;
    font-size: 1.8rem;
    margin: 5rem 0 0rem 7rem;
  }
}

#randomspanish {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  background-repeat: no-repeat;
  p {
    color: rgb(60, 60, 60);
    width: 55%;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 7rem;
  }
  #icon {
    max-height: auto;
    width: 7rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #icon:hover {
    transform: scale(1.05);
  }
  #googleIcon {
    max-height: auto;
    width: 3rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #googleIcon:hover {
    transform: scale(1.05);
  }

  .imageRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
    margin-bottom: 0rem;
    p {
      width: 45%;
      font-size: 1.1rem;
      align-self: center;
      justify-self: end;
    }
  }
  .imageRowImage {
    display: flex;
    width: 55%;
    height: auto;
    border-radius: 1rem;
  }
  .Row1 {
    p {
      margin: 0rem 0rem 0rem 5rem;
    }
    .img1 {
      margin: 0rem 5rem 0rem 0rem;
    }
  }
  .Row2 {
    .img2 {
      margin: 0rem 0rem 0rem 5rem;
    }
    p {
      margin: 0rem 5rem 0rem 2rem;
    }
  }
  .Row3 {
    p {
      margin: 0rem 2rem 0rem 5rem;
    }
    .img3 {
      margin: 0rem 5rem 0rem 0rem;
    }
  }
}

#webapps {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  background-repeat: no-repeat;
  p {
    color: rgb(60, 60, 60);
    width: 55%;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 7rem;
  }
  #icon {
    max-height: auto;
    width: 7rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #icon:hover {
    transform: scale(1.05);
  }
  #googleIcon {
    max-height: auto;
    width: 3rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #googleIcon:hover {
    transform: scale(1.05);
  }

  .imageRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
    margin-bottom: 0rem;
    p {
      width: 45%;
      font-size: 1.1rem;
      align-self: center;
      justify-self: end;
      margin: 0rem 2rem 0rem 5rem;
    }
  }
  .imageRowImage {
    display: flex;
    width: 55%;
    height: auto;
    border-radius: 1rem;
    margin: 0rem 5rem 0rem 0rem;
  }
  // .Row {
  //   p {
  //     margin: 0rem 0rem 0rem 5rem;
  //   }
  //   .img1 {
  //     margin: 0rem 5rem 0rem 0rem;
  //   }
  // }
  // .Row2 {
  //   .img2 {
  //     margin: 0rem 0rem 0rem 5rem;
  //   }
  //   p {
  //     margin: 0rem 5rem 0rem 2rem;
  //   }
  // }
  // .Row3 {
  //   p {
  //     margin: 0rem 2rem 0rem 5rem;
  //   }
  //   .img3 {
  //     margin: 0rem 5rem 0rem 0rem;
  //   }
  // }
}

#mobile {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  background-repeat: no-repeat;
  p {
    color: rgb(60, 60, 60);
    width: 80%;
    font-size: 1.5rem;
    margin: 1rem 4rem 4rem 7rem;
  }
  #icon {
    max-height: auto;
    width: 7rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #icon:hover {
    transform: scale(1.05);
  }
  #googleIcon {
    max-height: auto;
    width: 3rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #googleIcon:hover {
    transform: scale(1.05);
  }

  .two-column {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .imageRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
    margin-bottom: 0rem;
    p {
      width: 45%;
      font-size: 1.1rem;
      align-self: center;
      justify-self: end;
    }
  }

  .Row1 {
    p {
      margin: 0rem 0rem 0rem 5rem;
    }
    .img1 {
      margin: 0rem 5rem 0rem 0rem;
    }
  }
}

#industrialautomation {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  background-repeat: no-repeat;
  p {
    color: rgb(60, 60, 60);
    width: 80%;
    font-size: 1.5rem;
    margin: 1rem 4rem 4rem 7rem;
  }
  #icon {
    max-height: auto;
    width: 7rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #icon:hover {
    transform: scale(1.05);
  }
  #googleIcon {
    max-height: auto;
    width: 3rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #googleIcon:hover {
    transform: scale(1.05);
  }

  .two-column {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .imageRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
    margin-bottom: 0rem;
    p {
      width: 45%;
      font-size: 1.1rem;
      align-self: center;
      justify-self: end;
    }
  }

  .Row1 {
    p {
      margin: 0rem 0rem 0rem 5rem;
    }
    .img1 {
      margin: 0rem 5rem 0rem 0rem;
    }
  }
}
