@import "../styles//variables.scss";

.section-about-skewed {
  overflow: show;
  background: $bg-primary;

  transform: skew(0deg, -10deg) translateY(-20vh);
}
.section-about-anti-skewed {
  transform: skew(0deg, 10deg);
}

.section-lowright-skewed {
  overflow: show;
  background: $bg-primary;
  transform: skew(0deg, 10deg) translateY(20vh);
}
.section-lowright-anti-skewed {
  transform: skew(0deg, -10deg);
}
