// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// padding
$noPadding: 0px;

// element display
$blockDisplay: block;
$inlineDisplay: inline;
$inlineBlockDisplay: inline-block;

// Colors
$textDarkColor: #000000;
$textLightColor: #ffffff;

//Adams
$coolyellow: #ffd000;
