// $bg-primary: rgb(252, 172, 53);
$bg-primary: rgb(255, 255, 255);
$bg-highlight: rgb(214, 214, 214);

$accent-primary: #ff0000;
$accent-primary-lt: lighten($accent-primary, 5%);
$accent-primary-ltr: lighten($accent-primary, 10%);
$accent-primary-dk: darken($accent-primary, 5%);
$accent-primary-dkr: darken($accent-primary, 10%);

$fs-h1-desktop: 3.3rem;
$fs-h2-desktop: 2.5rem;
$fs-h3-desktop: 28px;
$fs-p-desktop: 1.2rem;

$fs-h1-mobile: 3rem;
$fs-h2-mobile: 2.2rem;
$fs-h3-mobile: 28px;
$fs-p-mobile: 1rem;
