// $bg-primary: rgb(252, 172, 53);
$bg-primary: rgb(247, 247, 247);
$bg-highlight: rgb(214, 214, 214);

$accent-primary: #ff0000;
$accent-primary-lt: lighten($accent-primary, 5%);
$accent-primary-ltr: lighten($accent-primary, 10%);
$accent-primary-dk: darken($accent-primary, 5%);
$accent-primary-dkr: darken($accent-primary, 10%);

$fs-h1-desktop: 8vw;
$fs-h2-desktop: 2.5rem;
$fs-h3-desktop: 28px;
$fs-p-desktop: 1.5vw;

$fs-h1-mobile: 3rem;
$fs-h2-mobile: 7vw;
$fs-h3-mobile: 28px;
$fs-p-mobile: 3.5vw;
