.web-apps-intro {
  margin: 3rem 1rem 2rem 1rem;
  max-width: 900px;
}

.web-apps-card {
  width: 90vw;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  text-decoration: none;
  height: auto;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;

  .about {
    display: grid;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
    .the-buttons {
      margin: 1rem 0 0 1rem;
      justify-self: start;
      //Breaks at 320 - 424
      @include media(">=phone", "<lgphone") {
        margin: 0rem 0 0 1rem;
      }
      //Breaks at 425 - 767
      @include media(">=lgphone", "<tablet") {
        margin: 0rem 0 0 1rem;
      }
    }
    //Breaks at 320 - 424
    @include media(">=phone", "<lgphone") {
    }
    //Breaks at 425 - 767
    @include media(">=lgphone", "<tablet") {
    }
  }

  .image {
    border-radius: 0.5rem;
    background-color: aqua;
    overflow: hidden !important;
    display: block;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    //Breaks at 320 - 424
    @include media(">=phone", "<lgphone") {
    }
    //Breaks at 425 - 767
    @include media(">=lgphone", "<tablet") {
    }
  }

  //Breaks at 320 - 424
  @include media(">=phone", "<lgphone") {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  //Breaks at 425 - 767
  @include media(">=lgphone", "<tablet") {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  //767 and up
  @include media(">=tablet", "<desktop") {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}
