.web-apps-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    align-self: flex-start;
    text-decoration: underline;
  }

  .web-apps-intro {
    flex-direction: column;
    width: 63vw;
    margin-top: 6vh;
    p {
      display: flex;
      align-items: flex-start;
      margin-top: 3vh;
      margin-bottom: 1vh;
      width: 53vw;
    }

    @include media(">=phone", "<lgphone") {
      width: 30rem;
    }
  }

  .web-apps-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .web-apps-section {
      display: grid;
      min-height: 45vh;
      width: 63vw;
      grid-template-columns: repeat(2, 1fr);
      background-color: goldenrod;
      box-shadow: -1rem 1rem 0.5rem #888888;
      margin: 3rem 3rem 0rem 3rem;
      border-radius: 1rem;
      transition: all 0.2s ease-in-out;

      .web-apps-card-description {
        margin: 1vw;
        a {
          color: white;
        }
      }

      .web-apps-card {
        width: 90%;
        max-height: auto;
        margin: 1rem;
        overflow: hidden !important;
        display: block;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        a {
          text-decoration: none;
          color: white;
          h4 {
            opacity: 0.6;
          }
          h4:hover {
            opacity: 1;
          }
        }
        @include media(">=phone", "<lgphone") {
          max-width: 20rem;
          height: auto;
          margin: 1rem;
          overflow: hidden !important;
          display: block;
        }
      }
      @include media(">=phone", "<lgphone") {
        grid-template-columns: 1fr;
        padding: 1rem;
        max-width: 31rem;
        height: 80vh;
        background-color: goldenrod;
        border-radius: 1rem;
        transition: all 0.2s ease-in-out;
      }

      // @include media(">=lgphone", "<tablet") {
      //   grid-template-columns: 1fr;
      //   background-color: yellow;
      //   grid-template-columns: 1fr;
      // }
      // @include media(">=tablet", "<desktop") {
      //   background-color: wheat;
      // }
    }

    .web-apps-section:hover {
      transform: scale(1.01);
    }
  }
  @include media(">=phone", "<lgphone") {
    width: 130vw;
    margin: 1rem;
    padding: 0;
  }
}
