.work-projects-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  .about-section {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    justify-content: start;

    .about-wrapper {
      display: grid;
      max-width: 100%;
      margin-top: 5vh;
      margin-bottom: 5vh;
      max-height: auto;
      align-self: center;

      h2 {
        font-size: 3rem;
        line-height: 4rem;
        @include media(">=phone", "<tablet") {
          font-size: 2rem;
          line-height: 3rem;
        }
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        @include media(">=phone", "<tablet") {
          text-align: justify;
          font-size: 1rem;
          font-weight: 500;
        }
      }
      @include media(">=phone", "<tablet") {
        margin-top: 0vh;
      }
    }

    .image-wrapper {
      margin: 0;
      max-width: 100%;
      max-height: auto;
      border-radius: 0.5rem;
    }
  }

  .definitions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20vh;
    min-width: 100%;

    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      @include media(">=phone", "<tablet") {
        text-align: justify;
        font-size: 0.9rem;
      }
    }
  }
}
