.work-projects-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .about-section {
    margin: 8vh;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;

    .about-wrapper {
      display: grid;
      max-width: 100%;
      max-height: auto;
      align-self: center;

      p {
        font-size: large;

        @include media(">=phone", "<lgphone") {
          font-size: small;
        }
        @include media(">=lgphone", "<tablet") {
          font-size: medium;
        }
        @include media(">=tablet", "<desktop") {
          font-size: large;
        }
      }
      h3 {
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-weight: bold;
        @include media(">=phone", "<lgphone") {
          font-size: large;
        }
        @include media(">=lgphone", "<tablet") {
          font-size: x-large;
        }
        @include media(">=tablet", "<desktop") {
          font-size: xx-large;
        }
      }
    }

    .image-wrapper {
      margin: 0;
      max-width: 100%;
      max-height: auto;
      border-radius: 0.5rem;
    }
  }

  .work-projects-grid {
    display: flex;
    flex-direction: column;
    margin: 5vh;
    min-height: 20vh;
    min-width: 100%;
    // @include media(">=phone", "<lgphone") {
    //   grid-template-columns: 1fr;
    // }
    // @include media(">=lgphone", "<tablet") {
    //   grid-template-columns: 1fr;
    // }
    // @include media(">=tablet", "<desktop") {
    //   grid-template-columns: 1fr 1fr;
    // }

    .work-projects-card-container {
      background-color: chocolate;
      display: flex;
      flex-direction: column-reverse;
      border-radius: 0.5rem;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
        color: white;
        h4 {
          opacity: 0.6;
        }
        h4:hover {
          opacity: 1;
        }
      }
    }
  }
}
