@import "../../styles/variables.scss";

#contact {
  .contact-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    background-color: white;

    .form-container {
      width: 70vw;
    }

    .mb-3 {
      width: 100%;
      background-color: white;

      input {
        border: solid 1px black;
      }

      textarea {
        border: solid 1px black;
      }
    }

    .email-link {
      color: black;
      @include media(">=phone", "<tablet") {
        font-size: 1.3rem;
      }
    }
    .social-icons {
      margin-top: 20px;
      img {
        height: 2rem;
        margin: 10px;
      }
    }
    span {
      margin-top: 10px;
    }
    icon {
      color: red;
    }
  }

  @include media("<=tablet") {
    padding-top: 5vh;
  }
}
