.card-wrapper {
  width: 20rem;
  height: 15rem;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  margin: 1rem;

  p {
    color: blue;
  }

  .btn {
    display: flex;
    color: white;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
  }

  @media screen and (max-width: 600px) {
    width: 15rem;
    height: 10rem;
  }

  @media (max-width: 600px) {
    width: 15rem;
    height: 10rem;
  }
}

.card-wrapper:hover {
  cursor: pointer;
}
