#randomspanish {
  display: block;
  background-image: url(../images/random-spanish-background.jpg);
  background-size: cover;
  height: auto;
  width: 100vw;
  max-width: 1119px;
  min-height: 700px;
}

.about-randspan {
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-size: contain;
  @include media("<tablet") {
    flex-direction: column-reverse;
  }

  // ##################################### Heading #####################################
  .heading {
    margin-top: 10vh;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
    z-index: 2;
    align-self: flex-start;
    @include media("<tablet") {
      width: 100%;
    }

    h1 {
      margin-top: 3vh;
      padding: 0rem 0 0rem 4rem;
      grid-row-start: 1;
      background: rgb(178, 34, 34);
      background: linear-gradient(
        90deg,
        rgba(178, 34, 34, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      color: white;
      text-align: left;
      @include media("<tablet") {
        background-color: firebrick;

        font-size: 2rem;
        padding-left: 1rem;
        padding-right: 9rem;
      }
    }

    @include media("<tablet") {
      align-self: flex-end;
    }
  }
  // ##################################### Heading #####################################

  // ##################################### Image #####################################
  .image-wrapper-randspan {
    grid-row: span 2 / -1;
    grid-column: span 1 / -1;

    @include media("<tablet") {
      grid-column: span 2 / -1;
      grid-row: 1;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      // object-fit: cover;
    }
  }
  // ##################################### Image #####################################

  // ##################################### Description #####################################
  .description {
    // grid-row-start: 1;
    grid-row-start: 2;
    grid-column-start: 1;
    margin: 0vh 1.5vw 0 2.5vw;
    p {
      color: black;
    }
    a {
      margin-bottom: 5vh;
    }
    @include media("<tablet") {
      // max-width: 70vw;
      grid-row-start: 3;
      grid-column: span 2;
      margin: 1rem;
    }
  }
  // ##################################### Description #####################################

  @include media(">=phone", "<tablet") {
    // grid-template-columns: 1fr;
  }
}
