.header-wrapper {
  z-index: 2;
  align-self: center;
  @include media("<tablet") {
    width: 100%;
  }

  // h3 {
  //   padding: 0rem 0 0rem 4rem;
  //   grid-row-start: 1;
  //   background: rgb(0, 0, 0);
  //   background: linear-gradient(
  //     90deg,
  //     rgb(0, 0, 0) 0%,
  //     rgba(255, 255, 255, 0) 100%
  //   );
  //   color: white;
  //   text-align: left;
  //   @include media("<tablet") {
  //     font-size: 2rem;
  //     padding-left: 1rem;
  //     padding-right: 9rem;
  //   }
  // }

  @include media("<tablet") {
    align-self: flex-end;
  }
}

.arrow-pointer {
  width: 35%;
  height: 6vh;
  // background: #32557f;
  background: black;
  position: relative;
  text-align: center;

  h3 {
    color: white;
    padding: 1vh 0vw 1vh 0vw;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 3vh solid #ffffff;
    border-top: 3vh solid transparent;
    border-bottom: 25px solid transparent;
  }

  &:before {
    content: "";
    position: absolute;
    right: -2.94vh;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 3vh solid black;
    border-top: 3vh solid transparent;
    border-bottom: 3vh solid transparent;
  }
}
