@import "../../../styles/variables.scss";

#industrialautomation {
  height: auto;
  display: grid;
  padding-top: 5rem;
  padding-bottom: 5rem;
  grid-template-rows: auto auto auto auto auto auto;
  background-repeat: no-repeat;

  #icon {
    max-height: auto;
    width: 7rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #icon:hover {
    transform: scale(1.05);
  }
  #googleIcon {
    max-height: auto;
    width: 3rem;
    margin: 0rem 0 0 1rem;
    transition: all 0.2s ease-in-out;
  }
  #googleIcon:hover {
    transform: scale(1.05);
  }

  .two-column {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .imageRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
    margin-bottom: 0rem;
  }

  .Row1 {
    p {
      margin: 0rem 0rem 0rem 5rem;
    }
    .img1 {
      margin: 0rem 5rem 0rem 0rem;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 0em 2em 0em;
  }
}
