#wa-card-wrapper {
  margin: 2.5rem 0 0 5rem;
  padding: 2.5rem;
  // background: chocolate;
  background: rgb(255, 255, 255);
  background-size: cover;
  border-radius: 0rem;
  height: auto;
  width: 90%;
  display: grid;
  // justify-content: center;
  grid-template-columns: 1fr 1fr;
  // grid-template-columns: 1fr;
  text-decoration: none;

  h3 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    @include media(">=phone", "<tablet") {
      font-size: 1.5rem;
    }
  }

  p {
    color: black;
    margin: 0 0 1rem 0.5rem;
    font-size: 1rem;
  }

  .about {
    display: grid;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;

    .the-buttons {
      padding-left: 1vw;

      @include media(">=phone", "<lgphone") {
        margin: 0rem 0 0 1rem;
      }
      //Breaks at 425 - 767
      @include media(">=lgphone", "<tablet") {
        margin: 0rem 0 0 1rem;
      }
    }
    //Breaks at 320 - 424
    // @include media(">=phone", "<lgphone") {
    // }
    //Breaks at 425 - 767
    // @include media(">=lgphone", "<tablet") {
    // }

    li {
      color: rgb(0, 0, 0);
      list-style: none;
      font-style: italic;
    }
  }

  .wa-image {
    // margin: 0 0 0 8vw;
    width: 80%;
    height: auto;
    border-radius: 0.5rem;
    overflow: hidden !important;
    display: block;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    //Breaks at 425 - 767
    @include media("<tablet") {
      margin-top: 4vh;
    }
  }

  //Breaks at 425 - 767
  @include media("<tablet") {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  //767 and up
}
