@import "../../styles/variables.scss";

.grid-container {
  margin: 2rem 0rem 2rem 0rem;
  padding: 0rem;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  border-radius: 0rem;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  border: none;
  // border: solid 1px black;

  .wa-about-section {
    width: 80vw;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    //Breaks at 425 - 767
    @include media("<tablet") {
      flex-direction: column;
      width: auto;
    }
  }

  .wa-about-section > div {
    width: 60%;
  }

  .about {
    display: grid;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;

    .the-buttons {
      padding-left: 1vw;
    }

    li {
      color: rgb(0, 0, 0);
      list-style: none;
      font-style: italic;
    }
  }

  .wa-image {
    width: 60%;
    height: auto;
    border-radius: 0.5rem;
    overflow: hidden !important;
    display: block;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @include media("<=tablet") {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin: 0rem;
    padding: 0rem;

    h3 {
      font-size: $fs-h3-mobile;
    }

    .wa-image {
      width: 80%;
    }

    .wa-about-section {
      margin: 4rem 0rem 1rem 0rem;
      width: 75vw;
    }
  }

  //Breaks at 425 - 767
  @include media("<tablet") {
    flex-direction: column;
  }
}
